@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Bellota:wght@300;400;700&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Monoton&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins&family=Roboto&display=swap');


body{
    background-color:  #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.header{
    border-radius: 10px;
    background-color: #161616;
    margin:50px 130px 140px 140px;
   

}
.top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.top-section-text{
    margin: 115px 40px 130px 90px;
    color:#FFFFFF;
        
}
.top-section-text h1{
    font-size: 70px;
}
.header button{
    border: 0;
    font-size: 20px;
    text-align: center;
    color:#FFFFFF;
    background-color: #DD0000;
    padding: 16px 25px;
    border-radius: 5px;
    margin-top: 30px;
    transition: padding 0.3s;
    animation: buttonAnimation 2s ease-in 1s infinite;
}
.header button i {
    font-size: 20px;
    margin-left: 10px;
    
}
.header button:hover{
    padding: 20px 30px;
}



/* animation */
@keyframes buttonAnimation {
    0%{
        background-color: #DD0000;
    }
    50%{
        background-color:#da4e4ece;
    }
    100%{
        background-color: #DD0000;
    }
}




.top-section-img img{
   
    width: 480px;
    height:800px;
}


/* second section */


.match-details{
    margin:15px 40px;
    display:flex;
}
.button-container{
    width:20%;
    background-color: #161616;
    width:312px ;
    height:312px;
    margin-left:90px;
    margin-right: 50px;
}
.button-container button{
    margin: 30px;
    width: 252px;
    height: 64px;
    padding:12px 14px;
    border: 0;
    border-radius:5px;
    font-size:20px;
    display: block;
    cursor: pointer;
}
.button-container button a{
    text-decoration: none;
}
.button-container button a:visited{
    color: #000;
}

.button-container button:last-child {
    background-color: #e73103e7;
    color: #FFFFFF;
}
.player-cart{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.player{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.player-img img{
    width: 100%;
}
.player-details{
    margin-left: 20px;
    margin-top: 40px;
}
.player-details P{
    font-size:18px;
    margin-top: 16px;
}
.transfer-btn{
    border: 0;
    border-radius: 5px;
    padding:10px 12px;
    background-color: #e73103e7;
}

.icons{
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
    font-size: 12px;
    font-weight: 300;
    letter-spacing:4px;
    color: #00000044;
    margin-bottom: 10px;
}
.tablet-special-button button{
    padding:10px 14px;
    color: #fff;
    border-radius: 5px;
    border: 0;
    background-color: orangered;
    width: 20%;
    margin-left: 50%;
    margin-top:30px;
   visibility: hidden;
  
}
/* upcoming match style */
.box{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.match-information{
     box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.images{
    
    display: flex;
    justify-content: space-around;
}
.images img{
    margin-left: 20px;
    /* padding:10px 10px; */
}

.text{
    margin-left: 20px;
}
/* end  upcoming match style */ 
footer{
    border-radius:5px;
    margin-top: 200px;
    margin-bottom:10px;
    background-color: #161616;
    
}

footer h1{
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    transform:translateY(50%);
    letter-spacing:5px;
    font-family: 'Rubik Maze', cursive;
    animation: GOAL 5s ease-in infinite;
}

@keyframes GOAL {
    0%{
        transform: translateY(0%);
    }
    75%{
        letter-spacing:15px;
    }
    100%{
        transform: translateY(75%);
    }
    
}

hr{
    margin-top:30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width:60%;
   transform: translate(20% 40%);
   
     
}
.navbar{
    margin: 50px 300px 2px 300px;
   
}
.navbar ul{
   
    display: flex;
    justify-content: space-evenly;
    
}
.navbar a{
    text-decoration: none;
    color: #FFFFFF;
}
.navbar li{
    margin-bottom: 40px;
    list-style: none;
    color: #FFFFFF;
}
/* animation add */
.contact-icon{
    text-decoration: none;
    margin-top: 40px;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    letter-spacing:40px;
    animation: animationAdd 5s linear infinite;
}
@keyframes animationAdd {
    0%{
       font-size: 45px;
        
    }
    75%{
        font-size: 40px;
    }
    100%{
        font-size:50px;
  
    }
    
}



/* media Query */



/* mobile phone */


@media screen and (max-width:586px)  {
    body{
        width: 90%;
    }
        .header {
            width: 80%;
            margin: 40px 20px 10px 30px;
        }
    .top-section{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
        .top-section h1 {
    
            font-size: 25px;
            line-height:30px;
            padding: 20px;
        }
        .top-section p {
    
            font-size: 20px;
            line-height:30px;
            padding: 20px;
        }
    .top-section-img img {
    
        width: 280px;
        height: 400px;
    }
    .match-details{
        display: flex;
        flex-direction: column;
    }
    .button-container{
        background-color: #85626200;
        margin-left: 0;
    }
        .player-cart {
    
          
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
        }
        /* upcoming-match */
                .box {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    grid-gap: 20px;
                }
                .text{
                    text-align: center;
                }

    footer{
        width: 100%;
    }
        .navbar {
            margin: 20px 200px 20px 100px;
    
        }
        .navbar ul {
    
           flex-direction: column;
    
        }
        .contact-icon {
            margin-top: 30px;
            color: #FFFFFF;
            font-size: 20px;
        }
}


/* tablet View ≥768px */
@media screen and (max-width: 768px) and (min-width: 588px){
   
    body{
        width: 100%;
    }
    .header{
        width:90%;
        margin: 60px;
        
    }
    .top-section{
        width: 100%;
    }
    .match-details{
        display:flex;
        flex-direction: column;
    }
    .button-container{
        background-color: #fff;
        width: 90%;
        display: flex;
       justify-content: space-around;
    }
        .player-cart {
    
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
        }
                .top-section h1 {
        
                    font-size: 40px;
                    padding: 20px;
                }
        
                .top-section p {
        
                    font-size: 20px;
                    line-height: 30px;
                    padding: 20px;
                }
                .top-section-img img {
                
                    width: 320px;
                    height: 540px;
                }
                .tablet-special-button button{
                    visibility: visible;
                    
                }
        footer{
            width: 100%;
        }
        .navbar{
            margin:20px;
        }
                .navbar ul {
        
                    display: flex;
                    justify-content: space-between;
                 
                }
                .navbar ul li {
                    font-size:15px;
                    margin-right: 20px;
                }
        
                .navbar a {
                    text-decoration: none;
                    color: #FFFFFF;
                }
        
                .navbar li {
                    font-size:20px;
                    margin-bottom: 40px;
                    list-style: none;
                    color: #FFFFFF;
                }
        
                .contact-icon {
                    margin-top: 40px;
                    color: #FFFFFF;
                    font-size: 40px;
                    text-align: center;
                    letter-spacing: 30px;
                }


                /* upcoming match section */
               .box {
                   display: grid;
                   grid-template-columns: repeat(2, 1fr);
                   grid-gap: 20px;
                                
                }
                .text {
                  text-align: center;
                }
                .tablet-special-button button{
                    visibility: visible;
                }
                
                 
}